/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  margin: 0;
  padding: 0;
}
.container{
  background-color: brown;
  width: 100%;
  /* height: 100vh; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper{
  background-color: white;
  min-width: 350px;
  min-height: 470px;
  border-radius: 5px;
  box-sizing: border-box;
  /* padding: 70px; */
}

.title{
  color: red;
  text-align: center;
  margin: 25px 0px 40px 0px;
}

.name, .email, .password{
  margin: 20px;
  color: brown;
  font-size: 16px;
}

.input{
  height: 32px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  margin-bottom: 10px;
}

.password{
  margin-bottom: 60px;
}

.error{
  color: red;
}

.submit{
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 25px;
  color: white;
  padding: 10px 60px;
  background: linear-gradient(45deg, black, transparent);
  margin: 0 auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
  display: flex;
}

button:active{
  transform: translateY(2px);
}

.form-success{
  display: flex;
  justify-content: center;
  margin-top: 250px;
  min-width: 370px;
  color: red;
}